openapi: "3.0.3"
info:
  title: Open Payment Gateway API
  description: Payment processing API supporting card, bank, and wallet payments with webhooks, refunds, and settlements.
  version: "1.0.0"
  contact:
    name: Open Payment Gateway Team
    url: https://openpayment.dev

servers:
  - url: https://api.openpayment.dev/v1
    description: Production server
  - url: http://localhost:8080/v1
    description: Local development

paths:
  /auth/login:
    post:
      tags: [Auth]
      summary: Login with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  merchant: { $ref: '#/components/schemas/Merchant' }

  /auth/register:
    post:
      tags: [Auth]
      summary: Register new merchant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, password]
              properties:
                name: { type: string }
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
      responses:
        '201':
          description: Registration successful

  /payments:
    post:
      tags: [Payments]
      summary: Create a payment intent
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
      responses:
        '201':
          description: Payment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
    get:
      tags: [Payments]
      summary: List payment intents
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: limit, in: query, schema: { type: integer, default: 10 } }
        - { name: offset, in: query, schema: { type: integer, default: 0 } }
      responses:
        '200':
          description: List of payments

  /payments/{id}:
    get:
      tags: [Payments]
      summary: Get payment intent by ID
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Payment intent details

  /payments/{id}/capture:
    post:
      tags: [Payments]
      summary: Capture an authorized payment
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount_to_capture: { type: integer }
      responses:
        '200': { description: Payment captured }

  /payments/{id}/refund:
    post:
      tags: [Payments]
      summary: Refund a captured payment
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount: { type: integer }
                reason: { type: string }
      responses:
        '200': { description: Payment refunded }

  /payments/{id}/void:
    post:
      tags: [Payments]
      summary: Void an uncaptured payment
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Payment voided }

  /customers:
    post:
      tags: [Customers]
      summary: Create a customer
      security: [{ bearerAuth: [] }]
      responses:
        '201': { description: Customer created }
    get:
      tags: [Customers]
      summary: List customers
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Customer list }

  /customers/{id}:
    get:
      tags: [Customers]
      summary: Get customer details
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Customer details }
    patch:
      tags: [Customers]
      summary: Update customer
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Customer updated }

  /webhook_endpoints:
    post:
      tags: [Webhooks]
      summary: Create webhook endpoint
      security: [{ bearerAuth: [] }]
      responses:
        '201': { description: Endpoint created }
    get:
      tags: [Webhooks]
      summary: List webhook endpoints
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Endpoint list }

  /webhook_endpoints/{id}:
    delete:
      tags: [Webhooks]
      summary: Delete webhook endpoint
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: Endpoint deleted }

  /webhook_endpoints/{id}/rotate-secret:
    post:
      tags: [Webhooks]
      summary: Rotate webhook secret
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Secret rotated }

  /webhook_endpoints/{id}/events:
    get:
      tags: [Webhooks]
      summary: List webhook events
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Event history }

  /webhook_endpoints/{id}/events/{eventId}/replay:
    post:
      tags: [Webhooks]
      summary: Replay a webhook event
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Event replayed }

  /webhook_endpoints/{id}/health:
    get:
      tags: [Webhooks]
      summary: Get webhook endpoint health
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Health status }

  /balance:
    get:
      tags: [Balance]
      summary: Get merchant balance
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Current balance }

  /balance/transactions:
    get:
      tags: [Balance]
      summary: Get balance transactions
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Transaction list }

  /refunds:
    get:
      tags: [Refunds]
      summary: List refunds
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Refund list }

  /settlements:
    post:
      tags: [Settlements]
      summary: Trigger settlement
      security: [{ bearerAuth: [] }]
      responses:
        '201': { description: Settlement created }
    get:
      tags: [Settlements]
      summary: List settlements
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Settlement list }

  /settlements/report:
    get:
      tags: [Settlements]
      summary: Get settlement report
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: from, in: query, schema: { type: string, format: date } }
        - { name: to, in: query, schema: { type: string, format: date } }
        - { name: currency, in: query, schema: { type: string } }
        - { name: format, in: query, schema: { type: string, enum: [json, csv] } }
      responses:
        '200': { description: Settlement report }

  /admin/merchants:
    get:
      tags: [Admin]
      summary: List all merchants (admin)
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Merchant list }

  /admin/merchants/{id}:
    get:
      tags: [Admin]
      summary: Get merchant details (admin)
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Merchant details }
    patch:
      tags: [Admin]
      summary: Update merchant (suspend/reactivate)
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Merchant updated }

  /admin/merchants/{id}/reset-api-keys:
    post:
      tags: [Admin]
      summary: Reset merchant API keys
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: New API key generated }

  /admin/sla:
    get:
      tags: [Admin]
      summary: Get SLA monitoring stats
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: period, in: query, schema: { type: string, enum: [1h, 24h, 7d, 30d] } }
      responses:
        '200': { description: SLA statistics }

  /merchants/profile:
    get:
      tags: [Merchant]
      summary: Get merchant profile
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Merchant profile }
    patch:
      tags: [Merchant]
      summary: Update merchant profile
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Profile updated }

  /merchants/api_keys:
    get:
      tags: [Merchant]
      summary: List API keys
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: API key list }
    post:
      tags: [Merchant]
      summary: Create API key
      security: [{ bearerAuth: [] }]
      responses:
        '201': { description: API key created }

  /health:
    get:
      tags: [System]
      summary: Health check
      responses:
        '200': { description: Service healthy }

  /:
    get:
      tags: [System]
      summary: API root info
      responses:
        '200': { description: API version info }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Merchant:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        email: { type: string, format: email }
        status: { type: string, enum: [active, suspended, pending] }
        created_at: { type: string, format: date-time }

    CreatePaymentRequest:
      type: object
      required: [amount, currency, payment_method]
      properties:
        amount: { type: integer, minimum: 1, description: Amount in smallest currency unit (cents) }
        currency: { type: string, enum: [USD, BDT] }
        payment_method: { type: string, enum: [card, bank, wallet] }
        customer_id: { type: string }
        description: { type: string }
        confirm: { type: boolean, default: false }
        capture_method: { type: string, enum: [automatic, manual], default: automatic }
        metadata: { type: object }
        idempotency_key: { type: string }

    PaymentIntent:
      type: object
      properties:
        id: { type: string }
        merchant_id: { type: string }
        amount: { type: integer }
        amount_capturable: { type: integer }
        amount_received: { type: integer }
        currency: { type: string }
        status: { type: string }
        capture_method: { type: string }
        client_secret: { type: string }
        created_at: { type: string, format: date-time }

  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  type: { type: string, example: auth_error }
                  code: { type: string, example: unauthorized }
                  message: { type: string }

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  type: { type: string, example: not_found }
                  code: { type: string }
                  message: { type: string }

    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  type: { type: string, example: validation_error }
                  code: { type: string }
                  message: { type: string }
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        field: { type: string }
                        message: { type: string }
